doctype html
html
  head
    title= "Twitch"
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    link(rel="stylesheet" href="style.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  body
    h1 FreeCodeCamp: Use the Twitchtv JSON API
    .container
      .row
        .col-md-4.col-xs-6 ONLINE
        .col-md-4.col-xs-6 OFFLINE
        .col-md-4.col-xs-6 SHOW ALL

    script(src="main.js")
