body
  background-color: #000

.row
  background-color: #f1f1f1
  margin-bottom: 5px
  position: relative

#status
  //background-color: #aaa
  width: 10px
  height: 60px
  padding: 0

#logo
  background-color: #aaa
  height: 60px
  margin-left: 5px

#info
  @extend #logo
  background-color: #aaa
  height: 60px

img#stream-logo, div#info p
  position: relative
  top: 50%
  transform: translate(0, -50%)
